.Background {
  background: #6F8E96;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}
.Button {
  align-self: center;
  border-radius: 12px;
  background: #ffffff;
  height: auto;
  width: 50vw;
  padding-left: 2vh;
  padding-right: 2vh;
  cursor: pointer;
  margin-bottom: 20vh;
}

.Spotify-logo{
  display: inline-block;
  height: 8vh;
  vertical-align: middle;
  margin: 15px;
}



.skyline{
  margin-top: 120%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.Reverse-text{
  display: inline-block;
  text-wrap: normal;
  color: #6F8E96;
  vertical-align: middle;
  font-size: 4vh;
}

.h3-intro{
  vertical-align: middle;
  font-size: 4vh;
  color: #F7F7F2;
}
h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 1vw;
  color: #F7F7F2;
}
h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  color: #F7F7F2;
}
.App {
  text-align: center;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 15vh;
  font-family: 'Lobster', cursive;
  margin: 1vh;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
@media only screen and (max-width: 1000px) {
  .App-title {
    font-size: 11vh;
  }
  .Button {
    width: 80vw;
    padding: 0;
  }

}


