.brand {
    font-family: 'Lobster', sans-serif;
}

.primary-text {
    color: #F7F7F2
}

.secondary-text {
    color: #E4E6C3
}

.background {
    background-color: #34252F
}

.highlight-red {
    color: #931621
}

.highlight-blue {
    color: #326771
}