.footer {
    z-index: 2;
    position: absolute;
    background: #222;
    width: 100%;
    top:80vh;
    height: 20vh;
}

#map {
    height: 80vh;
}

.mapboxgl-map {
    position: initial;
    margin-top:0;
    height: 80vh;
}

.mapboxgl-marker {
    background-color: white;
    height:10vh;
    width:10vh;
    border-radius: 100%;
}

.middle-marker {
    background-color: #34252F;
    z-index: 6;
    height:9vh;
    width:9vh;
}